.flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.searchResultDialog {
    position: absolute;

    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;

    /* min-width: 350px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 26rem;

    padding: 20px 10px 20px 10px;

    z-index: 1;
}